*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Nav-Main{
    background: #181818;
    padding: 10px 0;
}

.Nav-Wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Nav-Menus a{
    text-decoration: none;
    color: #cccccc;
    margin-inline: 20px;
    font-size: 12px;
    cursor: pointer;
}

.Nav-Menus a:hover{
    color: #ffffff;
}

.icons path{
    fill: #ffffff;
}

.Nav-Wrapper img{
    height: 25px;
    margin-inline: 20px;
}

.Nav-Buttons img{
    fill: white;
}

@media (400px <= width <= 1000px){
    .Nav-Menus{
        display: none;
    }

    .Nav-Wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Nav-Wrapper img{
        height: 27px;
        margin-inline: 15px;
    }
}